 /* Style the navigation bar */
.navbar {
  background-color: #071E22; /* Navy background */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e9ecef; /* Light gray text */
  padding: 10px 20px;
}
/* Navigation bar link styles */
.navbar a {
  display: flex;
  align-items: center;
  color: #e9ecef; /* Light gray color for text */
  text-decoration: none;
  font-weight: 50;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 4px;
  transition: background-color 2.0s ease, color 0.3s ease;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #495057; /* Medium gray background on hover */
  color: #ffffff; /* White text on hover */
}

/* Spacing between icon and text */
.navbar .fa-plus {
  margin: 9px;
}

/* Contact info styles */
.contact-info {
  font-size: 14px;
  margin: 10px;
  padding: 7px, 8px, 20px, 20px;
  display: inline-block;
  text-align: center;
}


/* Light gray background for the main container */
.light-grey {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
}

/* Style for the card components */
.card {
  border: 1px solid #e6e0de; /* Light gray border */
  border-radius: 8px;
  overflow: hidden;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.btn-group .btn {
  margin-right: 5px;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-primary:hover,
.btn-outline-warning:hover,
.btn-outline-danger:hover {
  opacity: 4.8;
}

.text-muted {
  color: #6c757d;
}
